# Run test for pytest: github action workflow file

name: Python application
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:

    - uses: actions/checkout@v6

    - name: Set up Pixi
      uses: prefix-dev/setup-pixi@v0.9.4
      with:
        cache: true

    - name: Run tests
      run: |
        pixi run pytest
